DEV_Name=<DEV_Name>
AZURE_OPENAI_API_ENDPOINT=<AZURE_OPENAI_API_ENDPOINT>
AZURE_OPENAI_API_KEY=<AZURE_OPENAI_API_KEY>
AZURE_OPENAI_API_DEPLOYMENT_NAME=gpt-4o
AZURE_OPENAI_API_VERSION=2024-02-15-preview
AZURE_FOUNDRY_PROJECT_ENDPOINT=<AZURE_FOUNDRY_PROJECT_ENDPOINT>
AZURE_FOUNDRY_MODEL_DEPLOYMENT_NAME=gpt-4o
APPLICATIONINSIGHTS_CONNECTION_STRING=<APPLICATIONINSIGHTS_CONNECTION_STRING>
RPS_SERVER_URL=https://aiaaa-s2-game-server.azurewebsites.net/

